<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/profile.css">
    <title>Document</title>
</head>

<body>
   
</html><div class="parent">
    <!-- Header class where we display profile and top picture -->
    <header class="header">
        <img id="profile_pic" src="https://post.medicalnewstoday.com/wp-content/uploads/sites/3/2020/02/322868_1100-800x825.jpg" alt="">
        <img id="top_pic" src="https://i.pinimg.com/originals/d5/32/85/d5328537c1da64a96c15d094bfc31f7a.jpg" alt="">
    </header>
    <!-- Main class where we show all the posts we have published -->
    <main class="main_content" contenteditable="">
        <% for (var i=0; i < posts.length; i++) { %>
            <div class="card">
                <div class="row">
                    <div class="profile-container col-2">
                        <div class="card-profile-img-container">
                            <img src="<%= posts[i]['picture'] %>" width="100%" />
                        </div>
                        <div style="text-align: center;">
                            <p>
                                Mood: <%= posts[i]['mood'] %>
                            </p>
                        </div>
                    </div>
                    <div class="posts-content col-10">
                        <div class="card-body">
                            <%= posts[i]['thought'] %>
                        </div>
                        <div class="card-info-info">
                            <p class="card-date-tag"><small class="text-muted">
                                    <%= posts[i]['date'] %> <small> by <%= posts[i]['username'] %></small>
                                </small></p>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>

            <% if (locals.message) { %> 
                <p><%= message %></p>
            <% } %>

    </main>
    <!-- Description class where there will be a small bio of the profile -->
     <!-- Loop through the posts (array) variable that is coming from the request handler from index.js and generate the HTML posts with it's data -->
    <div class="description">
    <h1>Jimmy Tran!</h1>
    <p contenteditable>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ex minima perferendis natus labore, ipsam ullam at aliquam dolores. Excepturi ad dignissimos minima consectetur fuga, cum rerum ab suscipit dolores.
    Repellendus architecto quidem eum expedita reprehenderit eos magni eveniet earum minus! Maxime deleniti quia placeat, dolor hic nisi mollitia libero voluptates, aspernatur iusto dolore eaque suscipit doloribus id, quibusdam ea?
    Ea fuga magnam debitis repudiandae, aspernatur dolorum porro delectus quisquam recusandae exercitationem illo serunt id sed nulla optio totam reiciendis nesciunt laborum corrupti odit consequuntur sapiente provident.
    Fugiat est obcaecati labore voluptatibus neque cumque repudiandae molestias sint ducimus soluta numquam, porro cum eos sed deleniti earum doloribus animi. Laborum aliquam repellat quibusdam hic, atque odit ea illum.
    Animi, possimus aut inventore, enim minus id laboriosam saepe maxime excepturi earum ratione assumenda temporibus us quia consequatur adipisci nulla voluptatibus. Minus libero quas quo!</p>
    </div>
</div>
</body>
</html>