<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profile.css">
    <title>Document</title>
</head>

<body>
   
    <header id="header">
        <a href="#" class="logo">Social Media</a>
        <div class="navigation">
            <ul class="menu">
                <li class="menu-item"><a href="#">Search Bar</a></li>
                <li class="menu-item"><a href="/profile">Profile</a></li>
                <li class="menu-item"><a href="/dashboard">Home</a></li>
                <li class="menu-item"><a href="#">Message</a></li>
                <li class="menu-item">
                    <a class="sub-btn" href="#">More<i class="fas fa-angle-down"></i> </a>
                    <ul class="sub-menu">
                        <li class="sub-item"><a href="#">Account</a></li>
                        <li class="sub-item"><a href="#">Settings</a></li>
                        <li class="sub-item"><a href="#">Help</a></li>
                        <li class="sub-item"><a href="/logOut">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>

</html><div class="parent">
    <!-- Header class where we display profile and top picture -->
    <header id="header2" class="header">
        <img id="profile_pic" src="https://post.medicalnewstoday.com/wp-content/uploads/sites/3/2020/02/322868_1100-800x825.jpg" alt="">
        <img id="top_pic" src="https://i.pinimg.com/originals/d5/32/85/d5328537c1da64a96c15d094bfc31f7a.jpg" alt="">
    </header>
    <!-- Main class where we show all the posts we have published -->
    <main class="main_content">
        <% for (var i=0; i < posts.length; i++) { %>
            <div class="card">
                <div class="row">
                    <div class="profile-container col-2">
                        <div class="card-profile-img-container">
                            <img src="<%= posts[i]['picture'] %>" width="100%" />
                        </div>
                        <div style="text-align: center;">
                            <p>
                                Mood: &#<%= posts[i]['mood'] %>
                            </p>
                        </div>
                    </div>
                    <div class="posts-content col-10">
                        <div class="card-body">
                            <%= posts[i]['thought'] %>
                        </div>
                        <div class="card-info-info">
                            <p class="card-date-tag"><small class="text-muted">
                                    <%= posts[i]['date'] %> <small> by <%= posts[i]['username'] %></small>
                                </small></p>
                        </div>
                        <button id="delete" ><a href=<%="/deletePost/" + posts[i]["ID"]%>>Delete</a></button>
                    </div>
                </div>
            </div>
            <% } %>

            <% if (locals.message) { %> 
                <p><%= message %></p>
            <% } %>

    </main>
    <!-- Description class where there will be a small bio of the profile -->
     <!-- Loop through the posts (array) variable that is coming from the request handler from index.js and generate the HTML posts with it's data -->
    <div class="description">
    <h1>Khizar Malik!</h1>
    <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ex minima perferendis natus labore, ipsam ullam at aliquam dolores. Excepturi ad dignissimos minima consectetur fuga, cum rerum ab suscipit dolores.
    Repellendus architecto quidem eum expedita reprehenderit eos magni eveniet earum minus! Maxime deleniti quia placeat, dolor hic nisi mollitia libero voluptates, aspernatur iusto dolore eaque suscipit doloribus id, quibusdam ea?
    Ea fuga magnam debitis repudiandae, aspernatur dolorum porro delectus quisquam recusandae exercitationem illo serunt id sed nulla optio totam reiciendis nesciunt laborum corrupti odit consequuntur sapiente provident.
    Fugiat est obcaecsimus aut inventore, enim minus id laboriosam saepe maxime excepturi earum ratione assumenda temporibus us quia consequatur adipisci nulla voluptatibus. Minus libero quas quo!</p>
    </div>
</div>
</body>
</html>