<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/search.css">
    <title>Dashboard</title>
</head>

<body>
    <header>
        <a href="#" class="logo">Dog Media</a>
        <div class="navigation">
            <ul class="menu">
                <li class="menu-item">
                    <form class="search-container" method="GET" action="/search">
                        <input class="search-input" type="text" name="keyword" placeholder="Search profile" />
                        <button><i class="fa fa-search"></i></button>
                    </form>
                </li>
                <li class="menu-item"><a href="/profile">Profile</a></li>
                <li class="menu-item"><a href="/dashboard">Home</a></li>
                <li class="menu-item"><a href="#">Message</a></li>
                <li class="menu-item">
                    <a class="sub-btn" href="#">More<i class="fa fa-angle-down"></i> </a>
                    <ul class="sub-menu">
                        <li class="sub-item"><a href="#">Account</a></li>
                        <li class="sub-item"><a href="#">Settings</a></li>
                        <li class="sub-item"><a href="#">Help</a></li>
                        <li class="sub-item"><a href="/logOut">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>

    <div class="container">
        <div class="search-result-for-container">
            <h3>Search results for: <i><%=keyword%></i></h3>
        </div>

         <% for (var i=0; i < users.length; i++) { %>
            <div class="search-profile-card">
                <div class="search-profile-pic">
                    <img src="<%=users[i].picture%>"
                        width="100%" />
                </div>
                <div class="search-profile-content">
                    <div class="content-name">
                        <a href="/profile/<%=users[i].username%>"><%=`${users[i].firstName} ${users[i].lastName}`%></a>
                    </div>
                    <div class="content-description">
                        <p><%=users[i].description%></p>
                    </div>
                </div>
                <div class="search-profile-view">
                    <a href="/profile/<%=users[i].username%>" title="View profile">
                        <i class="fa fa-eye fa-2x"></i>
                    </a>
                </div>
            </div>
        <% } %>

    </div>
    <!-- REFERENCE FOR FONT AWESOME - https://fontawesome.com/v4.7/examples/ -->
    <script src="https://use.fontawesome.com/9d09b39586.js"></script>
</body>

</html>